<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  var lat = <%= @center_latitude %>, 
      lon = <%= @center_longitude %>,
      map;
  function initialize() {
    var myOptions = {
      center: new google.maps.LatLng(lat, lon),
      zoom: 12 
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        myOptions);

    <% @places.each do |place| %>
        var markerLatLong = new google.maps.LatLng(<%= place["latitude"] %>, <%= place["longitude"]%>);
        var marker = new google.maps.Marker({
          position: markerLatLong,
          map: map,
          title: '<%= place["name"] %>'
        });
    <% end %>
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>